.pdf
.Rhistory
.Rproj.user/
.texpadtmp
.vscode/

_minted*

acs-*.bib
archive.zip
arxiv_submission.zip
config.py
Rplots.pdf

manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.docx
manuscript/*.log
manuscript/*.md
manuscript/*.out
manuscript/*.pdf
manuscript/eidr.pdf
manuscript/feedback_hanson.md
manuscript/figures/*.png
manuscript/figures.tex
manuscript/response-to-reviewers.md
manuscript/save_figures
manuscript/save_manuscript.Rmd

pythontex-files-*/
README.html
save_data
sympy-plots-for-*.tex/
TSWLatexianTemp*
