.pdf
.Rhistory
.Rproj.user/
.texpadtmp
.vscode/

_minted*

acs-*.bib
archive.zip
arxiv_submission.zip
config.py

manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/eidr.md
manuscript/eidr.pdf
manuscript/feedback_hanson.md
manuscript/figures.tex
manuscript/response-to-reviewers.md
manuscript/response-to-reviewers.pdf
manuscript/save_manuscript.pdf
manuscript/save_manuscript.Rmd

pythontex-files-*/
README.html
save_data
sympy-plots-for-*.tex/
TSWLatexianTemp*
